$red: #cf4747;

:root {
    font-size: 15px;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
}

h1, h2, h3 {
    font-family: 'Cinzel', serif;
}

a {
    color: $red;
}

#header {
    transition: background 0.2s;

    &.white-bg {
        background-color: #fff;
        border-bottom: 1px solid #ededed;
    }

    .header-icon {
        background-image: url("/assets/images/thecakelab500.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 40px;
        width: 185px;
    }
}

.container {
    z-index: 1;
}

#intro {
    padding-top: 72px;
    position: relative;
    overflow: hidden;
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/geometry2.png');

    .gradient {
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(180deg, rgb(251, 239, 239) 10%, transparent 70%);
        z-index: 0;
        top: 0;
    }

    .clipped {
        max-width: 360px;
    }

    #cake-1 {
        background-image: url('/assets/images/cake_2_cutout.png');
        height: 600px;
        width: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left 100px;
    }
}

#about {
    #owner-picture {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('/assets/images/owner.jpg');
        height: 500px;
    }

    #about-info {
        color: #fff;
        background-color: $red;
        background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
    }

    .clipped {
        max-width: 500px;
    }
}

#gallery {
    height: 420px;
    position: relative;
    transition: height 0.2s;
    overflow: hidden;

    &.expanded {
        height: 100%;
    }

    a {
        position: absolute;
        background: $red;
        color: #ffffff;
        bottom: 0;
        width: 100%;
        left: 0;
    }
    
    .g-row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }
    
    /* Create four equal columns that sits next to each other */
    .g-column {
        flex: 25%;
        padding: 0 4px;
    }
    
    .g-column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }
}

#contact {
    background-image: linear-gradient(0deg, #dedede 0%, white 100%);

    .clipped {
        max-width: 450px;
        margin: auto;
    }
}

#footer {
    background-color: #333;
    color: #fefefe;
    
    a {
        color: #fefefe;
        font-weight: bold;
    }
}

// When on tablets or larger mobile...
@media (max-width: 767.98px) {
    #gallery {
        .g-column {
            flex: 50%;
        }
    }
}

// When on mobile...
@media (max-width: 575.98px) {
    header {
        .header-icon {
            
        }
    }

    #intro {
        height: calc(100vh - 72px);
        margin-top: 72px;
    }

    #gallery {
        .g-column {
            flex: 100%;
        }
    }
}