:root {
  font-size: 15px; }

body {
  font-family: 'Lato', sans-serif;
  color: #333; }

h1, h2, h3 {
  font-family: 'Cinzel', serif; }

a {
  color: #cf4747;
  white-space: nowrap; }
  a:hover {
    text-decoration: none; }

#header {
  background-color: #fff;
  border-bottom: 1px solid #ededed; }
  #header .header-icon {
    background-image: url("./images/thecakelab500.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 185px; }

#intro .slide {
  width: 100%;
  height: calc(100vh - 71px);
  background-size: cover;
  background-position: center; }

#gallery .card img {
  max-width: 100%; }

#footer {
  background-color: #333;
  color: #fefefe; }
  #footer a {
    color: #fefefe;
    font-weight: bold; }
