$red: #cf4747;
$light-grey: darken(white, 10%);

:root {
    font-size: 15px;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    min-height: calc(100vh - 71px);
}

h1, h2, h3 {
    font-family: 'Cinzel', serif;
}

h2 {
    font-size: 1.8rem;
}

a {
    color: $red;
    white-space: nowrap;

    &:hover {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
}

#header {
    background-color: #fff;
    border-bottom: 1px solid #ededed;

    .header-icon {
        background-image: url("./images/thecakelab500.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 40px;
        width: 185px;
    }

    nav {
        z-index: 1;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;

                .current {
                    border-bottom: 1px solid;
                }
            }
        }
    }
}

#intro {
    video {
        max-width: 100%;
    }
}

#products {
    .product {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .inner {
            background-color: rgba(255,255,255,0.9);
        }
    }

    #products-wedding {
        background-image: url('./images/White_wedding_cake_with_leaves_and_flowers.jpg');
    }

    #products-celebrations {
        background-size: 150%;
        background-image: url('./images/Cake_decorated_with_cherries_strawberries_redcurrants_raspberries_blackberries_mint_blueberries_icing.jpg');
    }
}


#weddings {
    #weddings-hero {
        background-image: url('./images/Wedding_cake_with_flowers.jpg');
        background-position: center left;
    }
    .slider-images {
        height: 300px;
    }
}

#celebrations {
    #celebrations-hero {
        background-image: url('./images/White_icing_cake_with_crystalized_blood_orange_and_pomegranate.jpg');
        background-position: 0px -1000px;
        background-size: 220%;
    }
}

#contact {
    #contact-hero {
        background-image: url('./images/Cake_lab_owner_and_creator.jpg');
        background-size: cover;
        background-position: center;
        min-height: 500px;
    }
}


#footer {
    background-color: #333;
    color: #fefefe;
    
    a {
        color: #fefefe;
        font-weight: bold;
    }
}

#faqs {
    ul li {
        margin-bottom: 2.5em;
    }
}

// When on smaller desktop or laptop...
@media (max-width: 991px) {
    #weddings {
        #weddings-hero {
            background-position: center right;
        }
    }

    #celebrations {
        #celebrations-hero {
            background-position: 0 -790px;
        }
    }
}

// When on tablets or larger mobile...
@media (max-width: 767.98px) {
    #header {
        nav {
            display: none;
            position: absolute;
            top: 45px;
            right: 5px;
            text-align: right;

            &::before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid $light-grey;
                top: -10px;
                right: 5px;
            }

            ul {
                border-radius: 3px;
                overflow: hidden;
                background-color: white;
                border: 1px solid $light-grey;

                li {
                    display: block;
                    border-bottom: 1px solid $light-grey;

                    &:last-child {
                        border-bottom: none;
                    }

                    a {
                        display: block;
                        color: $red;

                        &.current {
                            border-bottom: none;
                            font-weight: bold;
                        }
                    }
                }
            }

            &.open {
                display: block;
            }
        }
    }

    #weddings {
        #weddings-hero {
            background-position: -680px -340px;
            padding-bottom: 200px;
        }
    }

    #celebrations {
        #celebrations-hero {
            background-position: -960px 0;
            background-size: auto;
            padding-bottom: 200px;
        }
    }
}

// When on mobile...
@media (max-width: 575.98px) {
    
}