:root {
  font-size: 15px;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
}

h1, h2, h3 {
  font-family: "Cinzel", serif;
}

a {
  color: #cf4747;
  white-space: nowrap;
}
a:hover {
  text-decoration: none;
}

#header {
  transition: background-color 0.2s;
}
#header.white-bg {
  background-color: #fff;
  border-bottom: 1px solid #ededed;
}
#header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#header nav ul li {
  display: inline-block;
}
#header .header-icon {
  background-image: url("./images/thecakelab500.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 185px;
}

#intro {
  padding-top: 72px;
  position: relative;
  overflow: hidden;
  background-image: url("./images/geometry2.png");
}
#intro .gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(180deg, #fbefef 10%, transparent 70%);
  z-index: 0;
  top: 0;
}
#intro h1 {
  max-width: 100%;
}
#intro .clipped {
  max-width: 360px;
}
#intro #cake-cutout {
  background-image: url("./images/cake_cutout.png");
  height: 600px;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left 100px;
}

#about #owner-picture {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/owner.jpg");
  height: 500px;
}
#about #about-info {
  color: #fff;
  background-color: #cf4747;
  background-image: url("./images/az-subtle.png");
}
#about #about-info #mobile-owner {
  margin: auto;
  border: 5px solid #fff;
  max-width: 400px;
  width: 100%;
}
#about .clipped {
  max-width: 500px;
  margin: auto;
}

#gallery {
  height: 420px;
  position: relative;
  transition: height 0.2s;
  overflow: hidden;
  /* Create four equal columns that sits next to each other */
}
#gallery.expanded {
  height: 100%;
}
#gallery a {
  position: absolute;
  background: #cf4747;
  color: #ffffff;
  bottom: 0;
  width: 100%;
  left: 0;
}
#gallery a:hover {
  background-color: #b42f2f;
}
#gallery .g-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-bottom: 8px;
}
#gallery .g-column {
  flex: 25%;
  padding: 0 4px;
}
#gallery .g-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

#contact {
  background-image: linear-gradient(0deg, #dedede 0%, white 100%);
}
#contact .clipped {
  max-width: 450px;
  margin: auto;
}

#footer {
  background-color: #333;
  color: #fefefe;
}
#footer a {
  color: #fefefe;
  font-weight: bold;
}

@media (max-width: 767.98px) {
  #intro #cake-cutout {
    background-position: center 20px;
  }
  #intro .clipped {
    margin: auto;
  }

  #gallery .g-column {
    flex: 50%;
  }
}
@media (max-width: 575.98px) {
  #header nav {
    display: none;
    position: absolute;
    top: 70px;
    right: 10px;
    text-align: right;
  }
  #header nav::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    top: -10px;
    right: 5px;
  }
  #header nav ul {
    border-radius: 3px;
    overflow: hidden;
    background: #fff;
  }
  #header nav ul li {
    display: block;
    border-bottom: 1px solid #f0f0f0;
  }
  #header nav ul li:last-child {
    border-bottom: none;
  }
  #header nav ul li a {
    display: block;
  }
  #header nav ul li a:hover {
    background-color: #cf4747;
    color: #fff;
  }
  #header nav.open {
    display: block;
  }

  #intro {
    height: calc(100vh - 72px);
    margin-top: 72px;
  }

  #gallery .g-column {
    flex: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
