$red: #cf4747;
$light-grey: darken(white, 10%);

:root {
    font-size: 15px;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
}

h1, h2, h3 {
    font-family: 'Cinzel', serif;
}

a {
    color: $red;
    white-space: nowrap;

    &:hover {
        text-decoration: none;
    }
}

.card-columns .card img {
    max-width: 100%;
}

#header {
    background-color: #fff;
    border-bottom: 1px solid #ededed;

    .header-icon {
        background-image: url("./images/thecakelab500.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 40px;
        width: 185px;
    }

    nav {
        z-index: 1;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
            }
        }
    }
}

#intro {
    video {
        max-width: 100%;
    }
}

#branches {
    img {
        width: 250px;
    }
}

#footer {
    background-color: #333;
    color: #fefefe;
    
    a {
        color: #fefefe;
        font-weight: bold;
    }
}

// When on tablets or larger mobile...
@media (max-width: 767.98px) {
    #header {
        nav {
            display: none;
            position: absolute;
            top: 45px;
            right: 5px;
            text-align: right;

            &::before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid $light-grey;
                top: -10px;
                right: 5px;
            }

            ul {
                border-radius: 3px;
                overflow: hidden;
                background-color: white;
                border: 1px solid $light-grey;

                li {
                    display: block;
                    border-bottom: 1px solid $light-grey;

                    &:last-child {
                        border-bottom: none;
                    }

                    a {
                        display: block;
                        color: $red;
                    }
                }
            }

            &.open {
                display: block;
            }
        }
    }
}

// When on mobile...
@media (max-width: 575.98px) {
    
}